<div class="container">
  <div class="info-container">  
  <br />
  <h1 style="color: rgb(255,110,110)"> <%= @book.title%></h1>
    <h4>Author: <%= @book.author%> <% if @book.author == "" %> <em class="no-info">Enter Author</em> <%end%></h4>
    <h4>Publication Date: <% if @book.date != nil %> <%= @book.date%> <%end %> <% if @book.date == nil %> <em class="no-info">Enter Date</em> <%end%> </h4>
    <h4>Format: <%= @book.format%> <% if @book.format == nil %> <em class="no-info">Enter Format</em> <%end%> </h4>
    
  </div>

  <div class="buttons-container">
  <table>
  <tr>
    <a href="/list"><button type="submit" class="btn btn-primary" id="btn-remove">Cancel<i class="fa fa-remove" aria-hidden="true"></i></button></a>
  </tr>  <tr>&nbsp;</tr>
  
  <tr>  
  <form class="delete-button" action="/books/<%= @book.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
    </form></tr>
  </div>
  </table>
</div>
